.about{
  background: url("../content/main_photo.jpg") center/cover;
  padding-top: 240px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  gap: 55px;
    &__title{
      color: #FFF;
      max-width: 455px;
      font-size: 48px;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
    }
  &__text{
    max-width: 300px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
  }
}

