.services{
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  &__content{
    max-width: 300px;
    text-align: center;
    &-icon{
      fill: #4A5E5E;
      margin-bottom: 30px;
      width: 56px;
      height: 56px;
    }
    &-title{
      color: #2D5E5E;
      font-family: var(--font-secondary);
      font-size: 24px;
      font-weight: var(--secondary-font-weight);
      line-height: 1.333;
      margin-bottom: 20px;
    }
  }
}